.score-site-map{
            display:none;
}

.score-site-map{
        font-size: 14px;
        margin-top: 20px;
        list-style: none;
        padding-left: 16px;
        > li:first-child > a{
                font-size: 16px;
                color: #333;
                text-decoration: none;
                font-weight: bold;
        }
         .level-4,.level-5{
                 display: none;
         }
         .level-2{
                 font-weight: bold;
                 > li a:hover{
                         background-color: #fff;
                 }
         }
         .level-3 li{
                 float: left;
                 font-weight: normal;
         }
}