//coveo
.coveo-logo{
    background:url("http://rzheng.chinaeast.cloudapp.chinacloudapi.cn/-/media/Images/HonCN/logo/honeywell_logo-png.png") no-repeat 0 0 !important;
}
.coveo-breadcrumb-clear-all{
    overflow: hidden;
}
.globalSearchResult .coveo-results-column{
    width: 70% !important;
}
@media screen and (max-width:815px){
    .globalSearchResult .coveo-results-column{
    width: 100% !important;
}
}
.CoveoSearchInterface .coveo-main-section{
    max-width:1366px !important;
    font-family: "HoneywellSans-Book", Arial, Serif;
}
.coveo-pager-list{
    text-align: center;
    .coveo-pager-next a,.coveo-pager-previous a{
        padding: 1px 0 0 0 !important;
        span{
            margin-top: 3px !important;
        }
    }
}
.newsSearchResult{
    /*margin-top: 30px !important;*/
    font-family: "HoneywellSans-Book", Arial, Serif;
    .coveo-results-column{
        width: 100% !important;
    }
    
    .CoveoSearchButton{
        width: 30px;
        height: 30px;
        padding: 0;
        position: absolute !important;
        top: 20px;
        left: 380px;
        background-color: white !important;
        .coveo-icon {
            background-position: -1619px 0px !important;
        }
    }
    .coveo-result-cell.news-date{
        text-align: left !important;
        display:block !important;
    }
    .coveo-result-cell.news-date + .coveo-result-cell{
        display: block !important;
    }

}
.coveo-sprites-main-search-active, .CoveoSearchButton:hover > .coveo-icon{
    background-position: -1619px 0px !important;
}
.coveo-sprites-main-search, .CoveoSearchButton > .coveo-icon, .ie8or9 .coveo-executing-query .CoveoSearchButton > .coveo-icon{
    background-position: -1619px 0px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), not all, not all, not all{
    .newsSearchResult .CoveoSearchButton .coveo-icon{
    background-position: -1601px 0px !important;
}
.coveo-sprites-main-search-active, .CoveoSearchButton:hover > .coveo-icon{
    background-position: -1601px 0 !important;
}
}
.CoveoSearchInterface .coveo-facet-column {
    border-right: none !important;
}
.coveo-results-header{
    margin-left: 15px;
    >div{
        text-align: left;
    }
    input.hasDatepicker{
            width: 120px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ddd;
            margin-right: 3px;
    }
    img{
        margin-right: 20px;
    }
}
.CoveoPager {
    margin-left: 15px !important;
    ul {
        text-align: left;
        .coveo-pager-anchor {
            height: 29px
        }
        li.coveo-pager-anchor {
            /*padding-top: 1px;*/
            &:hover {
                border: none;
            }
        }
        li a{
            font-size: 13px;
            display: block !important;
        }
    }
}
.CoveoPager ul li:hover:last-child > a, .CoveoPager ul li.coveo-active:last-child > a{
    border-right: none !important;
}
.CoveoPager ul li.coveo-active{
    height: 29px;
     > a{
        font-size: 13px;
     }
}

@media screen and (max-width: 670px) {
  .newsSearchResult #DepartureDateFacet {
    width: 250px;
    text-align: left; }
  .newsSearchResult .CoveoSearchButton {
    top: 54px;
    left: 220px; }

  .coveo-results-header input.hasDatepicker {
    width: 150px; } 
}

.CoveoResultLink:hover, .CoveoResultLink:visited, a.CoveoResultLink:hover, a.CoveoResultLink:visited, .CoveoResult a.CoveoResultLink:hover, .CoveoResult a.CoveoResultLink:visited{
    color: #1c69b3 !important;
}