body {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-family: "HoneywellSans-Book", Arial, Serif;
    /*font-smoothing: antialiased;*/
    text-rendering: optimizeLegibility;
    color: $body-font-color;
    overflow-x: hidden;
}

/*General layout style*/
.position-relative {
    position: relative;
}

// divider line
.text-divider3{
    border-top: 1px dashed #ccc;
    margin: 19px 0;
}


@font-face {
    font-family: 'HoneywellCond';
    src: url("../fonts/HoneywellCond-Black.otf") format("opentype"), url("../fonts/HoneywellCond-Bold.otf") format("opentype"), url("../fonts/HoneywellCond-Book.otf") format("opentype"), url("../fonts/HoneywellCond-ExtraBold.otf") format("opentype"), url("../fonts/HoneywellCond-Light.otf") format("opentype"), url("../fonts/HoneywellCond-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HoneywellSans';
    src: url("../fonts/HoneywellSans-Black.otf") format("opentype"), url("../fonts/HoneywellSans-Bold.otf") format("opentype"), url("../fonts/HoneywellSans-Book.otf") format("opentype"), url("../fonts/HoneywellSans-ExtraBold.otf") format("opentype"), url("../fonts/HoneywellSans-Light.otf") format("opentype"), url("../fonts/HoneywellSans-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HoneywellSans-Light';
    src: url("../fonts/HoneywellSans-Light.otf") format("opentype");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'HoneywellSans-Book';
    src: url("../fonts/HoneywellSans-Book.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HoneywellSans-Bold';
    src: url("../fonts/HoneywellSans-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HoneywellSans-Medium';
    src: url("../fonts/HoneywellSans-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.score-page {

&.score-column4-equal {
    & > .score-side {
      @include make-sm-column(6);
    }
    & > .score-main {
      @include make-sm-column(6);
    }
    & > .score-main2 {
      @include make-sm-column-with-clear(6);
    }
    & > .score-side2 {
      @include make-sm-column(6);
    }
  }

&.score-column3-equal {
    & > .score-side {
      @include make-sm-column(6);
    }
    & > .score-main {
      @include make-sm-column(6);
    }
    & > .score-side2 {
      @include make-sm-column-with-clear(6);
    }
  }
  


}