// general



// button
		// btn blue
    $blue: #1792e5;
    $white: #ffffff;
    $grey: #808080;
		
		// _btn-blue-no-padding-arrow-link
    $red: #ff0000;

    // _btn-dark-grey
    $dark-grey: #464646;

    // _btn-down-arrow
    $black:#000000;
    $view-more-button: #7a7a7a;


// link



// text



// style box



// highlight