//Global custom variables

//default margin on content components
$vertical-spacing: 30px;
$top-gutter: 0px;

$container-large-desktop:      (1336px + $grid-gutter-width);
$medium-screen: 970px;
$small-screen: 768px;
$extra-small-screen: 480px;
$page-title: #555555;
$page-subtitle: #606060;
$view-more-button: #7a7a7a;
$links: #1792E5;
$selected-filter-background:#0091E8;
$body-font-color: #333333;
$article-title: #707070;
$separator-color: #ccc;
$nav-background-color: #303030;
$stock-ticker-border: #CFCFCF;
$stock-ticker-change-font: #474747;


// button
	// btn blue
    $blue: #1792e5;
    $white: #ffffff;
    $grey: #808080;
		
	// _btn-blue-no-padding-arrow-link
    $red: #ff0000;

    // _btn-dark-grey
    $dark-grey: #464646;

    // _btn-down-arrow
    $black:#000000;
    $view-more-button: #7a7a7a;

