form.text-left {
    margin-bottom: 30px;

    fieldset {
        margin-bottom:20px; 
    }
    .btn {
        border-color: black;
        border-radius: 0;
        padding: 10px 25px;
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
    }
}
