.page-wrapper {
   
    
    .score-left {
        .score-section-menu {
            list-style: none;
            padding-left: 0;
            padding-top: $top-gutter;
            margin-bottom: 20px;
            // margin-right: 150px;
            /*margin-top: 40px;*/
            // border-bottom: 1px solid $separator-color;
            @include sidebar-border-style();

            .nav{
                font-size:14px;
            }
            > li {
                margin-bottom: -1px;

                &.active > a{
                    background-color: #eee;
                }
                &.active-section > a{
                    background-color: #eee;
                }
                > a {
                padding: 10px 0 10px 10px;
                font-size: 14px;
                font-weight: bold;
                display: block;
                font-family: HoneywellSans-Medium, Arial, Serif;
                color: $links;
                text-decoration: none;
            }
            
            > a:after {
                content: "\00a0\203A";
                /*
        content: " \003e";
            */
            }
            > ul > li.active >a {
                background-color: #eee;
            }
            }

            
            > li:first-child{ 
                border-bottom: 1px solid $separator-color;
                &.active > a{
                    background-color: transparent;
                }
                > a{
                    color:black;
                    font-size: 18px;
                    &:after{
                        content:" ";
                    }
                }
            }
            
        }



        .score-menu-list:last-child {
            border-style: none;
        }
    }
}
.score-column2.detail_info_page{
    padding-top: 40px;
}
@media only screen and (max-width: 480px){
    .page-wrapper {
    .score-left {
        .score-section-menu {
            text-align: center;
        }}}
}
@media only screen and (min-width: 480px){
    .score-column2.detail_info_page > .score-left{
        float: left;
        width: 33.33333%;
    }
    .score-column2.detail_info_page > .score-right{
        float: left;
        width: 66.66667%;
    }
    .score-column2.gap_in_pic_text > .score-left{
        width: 22%;
    }
    .score-column2.gap_in_pic_text > .score-left{
        width: 78%;
    }
}

.arrow_list_group{
    list-style: none;
    line-height: 30px;
    padding-left: 0px;
    font-size: 14px;
}
.arrow_list_group li:before{
    content:"\00a0\203A";
    margin-right: 10px;
}