.score-image-button{
	display:block;
}
.btn-dark{
    background-color: #454545;
    color: #fff;
}
.btn-circle{
    width: 45px;
    height: 45px;
    border-radius: 45px;
    /*background-color: #f5f5f5;*/
    color: #707070;
}